- name: Add ArgoCD Helm repo
  kubernetes.core.helm_repository:
    name: argo
    repo_url: https://argoproj.github.io/argo-helm
    kubeconfig: /home/ubuntu/.kube/config

- name: Install ArgoCD
  kubernetes.core.helm:
    name: argocd
    chart_ref: argo/argo-cd
    release_namespace: argocd
    create_namespace: true
    kubeconfig: /home/ubuntu/.kube/config

- name: change argocd service
  shell: | 
    kubectl patch svc argocd-server -n argocd -p '{"spec": {"type": "LoadBalancer"}}'

- name: Get latest ArgoCD CLI version
  become: true
  uri:
    url: https://api.github.com/repos/argoproj/argo-cd/releases/latest
    return_content: yes
  register: argocd_release

- name: Set ArgoCD version fact
  set_fact:
    argocd_version: "{{ argocd_release.json.tag_name }}"

- name: Download ArgoCD CLI
  become: true
  get_url:
    url: "https://github.com/argoproj/argo-cd/releases/download/{{ argocd_version }}/argocd-linux-amd64"
    dest: /usr/local/bin/argocd
    mode: '0755'

- name: Verify ArgoCD installation
  command: argocd version --client
  register: argocd_check
  changed_when: false

- debug:
    var: argocd_check.stdout

- name: Get ArgoCD admin password
  command: >
    kubectl -n argocd get secret argocd-initial-admin-secret
    -o jsonpath="{.data.password}"
  register: argocd_password_raw
  changed_when: false

- name: Decode password
  set_fact:
    argocd_admin_password: "{{ argocd_password_raw.stdout | b64decode }}"

- name: Get ArgoCD LoadBalancer DNS
  command: >
    kubectl -n argocd get svc argocd-server
    -o jsonpath="{.status.loadBalancer.ingress[0].hostname}"
  register: argocd_lb
  changed_when: false

- name: Set ArgoCD server fact
  set_fact:
    argocd_server: "{{ argocd_lb.stdout }}"

- name: Login to ArgoCD
  command: >
    argocd login {{ argocd_server }}
    --username admin
    --password {{ argocd_admin_password }}
    --insecure
  register: argocd_login
  changed_when: "'Logged in' in argocd_login.stdout"

- name: Add GitHub repo to ArgoCD
  command: >
    argocd repo add https://github.com/tetris-app1/Application_Repo.git
    --username {{ argocd_repo_username }}
    --password {{ argocd_repo_password }}

- name: Copy Application.yaml to temporary location
  copy:
    src: "{{ role_path }}/tasks/Application.yaml"
    dest: "/tmp/Application.yaml"
    mode: '0644'
- name: Create ApplicationSet
  command: kubectl apply -f /tmp/Application.yaml
