name: 'Terraform'
run-name: ${{inputs.action}}
on:
  workflow_dispatch:
    inputs:
      action:
        description: 'Please Select The Command To Run { plan , apply, destroy }'
        required: true
        type: choice
        options:
          - plan
          - apply
          - destroy
permissions:
  contents: read
jobs:
  Terraform:
    defaults:
      run:
        working-directory: terraform
    runs-on: ubuntu-latest
    steps:
    - name: checkout code
      uses: actions/checkout@v3
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v3
      with:
        aws-access-key-id: ${{ secrets.ACCESS_KEY }}
        aws-secret-access-key: ${{ secrets.SECRET_KEY }}
        aws-region: eu-north-1
    - name: setup Terraform
      uses: hashicorp/setup-terraform@v3
    - name: Terraform Init
      run: terraform init --var-file=var.tfvars
    - name: Terraform Plan
      if: ${{ inputs.action == 'plan' }}
      run: terraform plan --var-file=var.tfvars
    - name: Terraform Apply
      if: ${{ inputs.action == 'apply' }}
      run: terraform apply -auto-approve --var-file=var.tfvars
    - name: Terraform Destroy
      if: ${{ inputs.action == 'destroy' }}
      run: terraform destroy -auto-approve --var-file=var.tfvars
